*
{
    padding: 0;
    margin: 0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
html,body
{
    height:100%;
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: #535353;
    font-size: 12px;
}
a img
{
    border: none;
}

#loading
{
    text-align: center;
    padding-top: 30px;
}
form label
{
    float: left;
    display: block;
    width: 130px;
    text-align: right;
    margin-right: 15px;
    padding: 4px 0px;
}
form fieldset
{
    border: none;
    margin: 0px;
    padding: 5px;
}
form fieldset input
{
    margin-bottom: 5px;
    width: 150px;
    border: 1px solid {color1};
    padding: 4px;
}
form div.buttons
{
    margin-top: 0px;
    text-align:center;
}
form div.buttons input
{
    padding: 2px 10px;
}