<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<%htmlheaders%>
    <script src="application/layout/js/scripts.js"></script>
</head>
<body>
    <header>
        <img id="logo" src="application/layout/images/logo_webberig.jpg" />
<%topmenu%>
    </header>
    <hr />
    <div id="body">
<%submenu%>
<%messenger%>
<%body%>
    </div>
    <div style="clear:both"></div>
<%footer%>
</body>
</html>